

$body-background-color: $white !default;
$sidebar-color: #f4f5f7;
$search-background-color: $white !default;
$table-background-color: $white !default;
$code-background-color: $grey-lt-000 !default;
$feedback-color: darken($sidebar-color, 3%) !default;

$body-text-color: #172B4D;
$body-heading-color: #172b4d;
$search-result-preview-color: $grey-dk-000 !default;
$nav-child-link-color: $grey-dk-100 !default;
$link-color: #990066;
$btn-primary-color: #990066;
$base-button-color: #f7f7f7 !default;